@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Geologica', sans-serif;
}

body {
    height: 100vh;
    background: url("/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cels{
    color: whitesmoke;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 37px;
    box-shadow: 7px 6px 5px 4px whitesmoke;
    border-radius: 13px;
}

#inputText {
    outline: none;
    width: 100%;
    max-width: 420px;
    max-height: 290px;
    height: 50px;
    padding-top: 10px;
    border-radius: 9px;
    font-size: 25px;
    border: 2px solid rgb(191, 186, 186);
}

#inputText:hover {
    border: 2px solid rgb(192, 78, 78);
    transition: all 0.4s ease;
}

input:hover {
    border: 2px solid rgb(192, 78, 78);
    transition: all 0.4s ease;
}


button {
    width: 100%;
    height: 50px;
    border-radius: 9px;
    font-size: 20px;

    /* border: 2px solid rgb(191, 186, 186); */
    background-color: green;
    color: white;
    margin-top: 20px;
    margin-left: 5px;

}



button:hover {
    background: rgb(50, 110, 59);
}

#result {
    font-size: 20px;
    margin-top: 23px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* margin-left: 26px; */
    width: 520px;
    height: fit-content;
    padding: 26px;
    border-radius: 12px;
    background-color: rgb(161, 108, 108);
}

@media (max-width: 1025px) {
    body {
        height: 100vh;
        background: url("/images/background.png");
        background-size: cover;
        background-position: center;
        /* font-size: 7px; */
    }

    .container {
        background: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        box-shadow: 7px 6px 5px 4px rgba(241, 169, 169, 0.402);
    }

    .all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        margin-top: -18px;
    }

    button {
        width: 100%;
        margin: 5px 0px 0 12px;
    }

    #result {
        margin-right: 15px;
    }

    #result {
        width: 100%;
        margin-left: 19px;
        margin-top: 20px;
    }

}